@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: 100vh;
}

.header {
    align-items: center;
    width: 100%;
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.logo {
    max-width: 50px;
    max-height: 50px;
    margin: 20px;
}

.logo img{
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    list-style: none;
}

.menu li a {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: #007965;
    background-color: white;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 30px;
    text-decoration: none;
    transition: 0.2s ease;
}


.menu li a:hover {
    background-color: #007965;
    color: white;
    transition: 0.2s ease;
    border-color: #007965;
    border-width: 5px;
}

.login {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.login li a {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #007965;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 1px;
    text-decoration: none;
    transition: 0.2s ease;
}


.login li a:hover {
    background-color: #007965;
    color: white;
    transition: 0.2s ease;
    border-color: #007965;
    border-width: 5px;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    box-shadow: 6px 8px 6px -6px rgb(56, 56, 56);
    background-color: white;
    padding: 20px;
    margin: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 100vh;
    border-radius: 5%;
}

.box .inputdado {
    color: #043d34;
    font-size: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 50px;
    border: 1px outset #007965;
}

.inputdado:focus {
    outline: none;
}

::placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #00796573;
}

.box h1 {
    text-shadow: 1px 1px 2px #043d34;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    color: #007965;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box label {
    font-weight: 300;
    color: #05584a;
    margin-left: 20px;
    margin-bottom: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.inputdado {
    margin: 0 auto;
}

.check {
    margin: 20px;
}

.checklabel a {
    font-weight: 400;
    text-decoration: none;
    color: #007965;
}

.checklabel a:hover {
    color: #043d34;
} 

.boxregister {
    text-shadow: 2px 2px 4px #000000;
    width: 450px;
    height: 90vh;
}

.boxregister h1 {
    color: white;
    font-size: 70px;
    text-align: left;
    font-family: 'MuseoModerno', cursive;
}

.boxregister span {
    text-shadow: 4px 4px 8px #000000;
    color: #94bbe9;
    font-size: 100px;
}

.btn button {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    margin-left: 20px;
    width: 90%;
    transition: 0.2s ease;
}

.btn button:focus {
    outline: none;
}

.btn button:hover {
    color:white;
    transition: 0.2s ease;
    border: 3px outset white;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}